

.faq_sec {
    margin-top: 4rem;
}
.bi {
    margin-bottom: 20px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(14,52,90);
    letter-spacing: 0.05em;
}
.bes {
    letter-spacing: 0.05em;
    font-size: 47px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: rgb(14,52,90);
}
.faq-container {
    max-width: 1200px;
    border: 2px solid rgb(14,52,90);
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out, glowing 1.5s infinite alternate;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes glowing {
    0% { box-shadow: 0 0 5px rgba(14,52,90, 0.5); }
    100% { box-shadow: 0 0 20px rgba(14,52,90, 1); }
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.tabs span {
    margin: 0 15px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    color: #002f54;
    transition: color 0.3s, border-bottom 0.3s;
}
.tabs .active-tab {
    border-bottom: 2px solid #002f54;
    color: #002f54;
}
.accordion {
    border-top: 1px solid #e0e0e0;
}
.accordion-item {
    border-bottom: 1px solid #e0e0e0;
}
.accordion-toggle {
    display: none;
}
.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.accordion-title h2 {
    font-family: "PT Serif", serif;
    font-size: 1.2rem;
    color: #002f54;
}
.accordion-title:hover {
    background-color: #f1f1f1;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.7s ease, opacity 0.6s ease;
}
.accordion-content p {
    font-family: "PT Serif", serif;
    margin: 0;
    padding: 10px 0;
    color: #002f54;
}
.accordion-toggle:checked + .accordion-title + .accordion-content {
    max-height: 200px;
    opacity: 1;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.social-icons i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
}
.social-icons i:hover {
    color: #002f54;
}
