.add_h1{
    color:  rgb(14 52 90);
    margin-top: 3rem;
    text-align: center;
}
.form-label{
    color: #a3a2a2;
    font-family: "Merriweather", Sans-serif;
}
.add{
    margin-top: 3rem;
    background-color: rgb(14 52 90)
}
.sbmt{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.add_btton{
    display: flex;
    align-items: center;
    justify-content: center;
}