.custom-section{
    margin-top: 5rem;
}
.custom-section .bi {
    margin-bottom: 20px;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
    font-size: 20px;
    color: rgb(14,52,90);
    letter-spacing: 0.05em;
  }
  
  .custom-section .bes {
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    font-size: 47px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: rgb(14,52,90);
  }
 