.custom-section{
    margin-top: 10rem;
}
.custom-section .th {
    margin-bottom: 20px;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
  }
  
  .custom-section .rec {
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    font-size: 47px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
 
 @media (max-width: 870px){
  .custom-section .rec {
    font-size: 30px;
   }
}