
.bestSeller {
    margin-top: 2rem;
}
.box{
    position: relative;
    min-height: 450vh;
    background-color: #004658;
}

.custom-section .bi {
  margin-bottom: 20px;
  font-family: "DM Serif Text", serif;
font-weight: 400;
  font-size: 20px;
  color: rgb(14,52,90);
  letter-spacing: 0.05em;
}

.custom-section .bes {
  letter-spacing: 0.05em;
  font-size: 47px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  color: rgb(14,52,90);
}
@media (max-width: 870px){
  .custom-section .bes {
    font-size: 30px;
   }
}
.b_cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

:root {
  --bg-clr: #002f54;
  --speed: 0.6s;
  --f-small: 0.875rem;
}

.profile-card {
  margin-top: 1rem;
  width: 10rem;
  background-color: var(--bg-clr);
  backdrop-filter: blur(10px);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transform-origin: top;
  position: relative;
  transition: width var(--speed) ease-in-out;
}

.profile-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15rem;
}

.profile-card-img {
  width: 100%;
  height: 100%;
  transition: transform var(--speed);
}

.profile-card-info {
  transition: transform var(--speed);
}

.profile-card-info h2 {
  font-family: "DM Serif Text", serif;
  font-weight: 200;
  font-size: 22px;
  text-align: center;
}
.profile-card-details p {
  text-align: center;
}

.profile-card-price {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  margin-top: 0.5rem;
}

.profile-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.profile-card-button {
  display: none;
  cursor: pointer;
  padding: 0.15rem 0.5rem;
  font-size: var(--f-small);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 999px;
  transition-property: transform, background-color, color;
  transition-duration: var(--speed), var(--speed), var(--speed);
  transition-timing-function: ease-in, ease-out, ease-out;
}

.profile-card-button:focus-visible,
.profile-card-button:hover {
  background-color: rgb(14, 52, 90);
  color: white;
  outline: none;
}

.profile-card-section {
  display: grid;
  grid-template-rows: 0fr;
  font-size: var(--f-small);
  transition: height var(--speed), grid-template-rows var(--speed);
}

.profile-card:hover img {
  width: 6rem;
}

.profile-card:hover .profile-card-button {
  display: block;
}

.profile-card-details {
  overflow: hidden;
  margin-top: 1rem;
}

.profile-card:hover .profile-card-section {
  grid-template-rows: 1fr;
}

.btn-heart {
  margin-left: 30px;
  border-radius: 50%;
  width: 40px;
  height: 30px;
  text-align: center;
}

.profile-card-button:focus-visible,
.btn-heart:hover {
  background-color: red;
}

@media (min-width: 640px) {
  .profile-card {
      padding: 1.5rem;
  }

  .profile-card-section {
      margin-top: 0;
  }

  .profile-card:hover {
      width: 20rem;
      transition-duration: 0.6s; 
  }

  .profile-card:hover .profile-card-img {
      transform: translateX(-6rem) translateY(-0.5rem);
      transition-duration: 0.6s; 
  }

  .profile-card:hover .profile-card-info {
      transform: translateX(-4rem);
      transition-duration: 0.5s; 
  }

  .profile-card:hover .profile-card-button {
      transform: translateX(0rem) translateY(1rem);
      transition-duration: 0.6s; 
  }
}

@media (max-width: 650px){
  .book-launch{
    display: block;
    flex-wrap: wrap;
    gap: 2.3rem;
  }
}
.book-launch {
  min-height: 45rem;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  color: #002f54;
}

.book-launch_details {
  padding-right: 10px;
  padding-top: 10rem;
}

.book-launch_details h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.book-launch_details p {
  font-size: 1.2rem;
}

.event-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-detail {
  margin-bottom: 15px;
}

.event-detail h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.rsvp-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #002f54;
  border: 2px solid #002f54;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.rsvp-button:hover {
  background-color: #002f54;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 221, 5);
  padding: 20px;
}

.book-image {
  max-width: 60%;
  height: auto;
}
