
  .contact {
    margin-top: 8rem;
  }
  .contact_card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    transition: transform 0.3s;
  }
  
  .contact_card:hover {
    transform: translateY(-30px);
  }
  
  .contact_cards{
    display: flex;
    justify-content: space-between;
    
  }
  .contact_image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .contact_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contact_image h2 {
    margin: 10px 0;
    font-size: 1.5em;
  }
  
  .contact_image p {
    color: #777;
    margin: 5px 0;
  }
  
  .read-more-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 0.9em;
    color: #fff;
    background-color: rgb(14 52 90);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .read-more-btn:hover {
    background-color: rgb(14 52 90);
    transform: scale(1.1);
  }
  .contact_map {
    
    margin-top: 5rem;
  }
  .contact_map iframe{
    width: 100%;
    height: 600px;
  }
.contacct {
  margin-top: 5.5rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  position: relative;
}

.contacct::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 52, 90, 0.8); 
}

.cont {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-header .container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: rgb(14 52 90);
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background: transparent;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}



.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: rgb(14 52 90);
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgb(14 52 90);
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #FFF;
  color: rgb(14 52 90);
}

@media (max-width: 991px) {
  .cont {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .con {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}
